<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd" autoReload="true" throwExceptions="false" internalLogLevel="Info" internalLogFile="c:\temp\core-nlog-internal.log">

  <targets>

	  <target xsi:type="File" name="logFile"
			  fileName="${gdc:item=LogDir}/${appdomain}_${shortdate}.log"
			  layout="${longdate}--${uppercase:${level}}--${event-properties:item=Assistant}--${event-properties:item=Sender}--${event-properties:item=Code--${message}">
		  <parameter name="@level" layout="${uppercase:${level}}" />
		  <parameter name="@assistant" layout="${event-properties:item=Assistant}" />
		  <parameter name="@sender" layout="${event-properties:item=Sender}" />
		  <parameter name="@code" layout="${event-properties:item=Code}" />
		  <parameter name="@message" layout="${message}" />
	  </target>

	  <target name="database" xsi:type="Database" connectionString="${gdc:item=LogConnectionString}" commandText="insert into logs values(GETDATE(), @level, @assistant, @sender, @code, @message)">
      <parameter name="@level" layout="${uppercase:${level}}" />
      <parameter name="@assistant" layout="${event-properties:item=Assistant}" />
	  <parameter name="@sender" layout="${event-properties:item=Sender}" />
	  <parameter name="@code" layout="${event-properties:item=Code}" />
      <parameter name="@message" layout="${message}" />
    </target>

  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="logFile" />
    <logger name="*" minlevel="Info" writeTo="database" />
  </rules>
</nlog>
